head
	title CEP - Código Urbano
	meta(name="viewport" content="width=device-width,initial-scale=1.0")
	link(rel='stylesheet', href='/css/app.css')
	met(name="description" content="Uma base de dados livre de CEP")
	meta(name="author" content="Código Urbano")
	meta(name="keywords" content="cep,livre,opendata")
	meta(property="og:image" content="")
	meta(property="og:title" content="CEP - Código Urbano")
	meta(property="og:type" content="website")
	meta(property="og:url" content="http://cep.codigourbano.org/")